/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #090909 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #f4f4f4; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #f4f4f4; background-color: rgba(244,244,244,0.4)}
.cm-s-nqqwal { background-color: #090909; color: #f4f4f4; }
.cm-s-nqqwal span.cm-builtin { color: #B1B1B1; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #aaaaaa; }
.cm-s-nqqwal span.cm-keyword { color: #C8C8C8; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #D7D7D7; }
.cm-s-nqqwal span.cm-def { color: #E8E8E8; }
.cm-s-nqqwal span.cm-variable { color: #F4F4F4; }
.cm-s-nqqwal span.cm-variable-2 { color: #E8E8E8; }
.cm-s-nqqwal span.cm-string { color: #B1B1B1; }
.cm-s-nqqwal span.cm-string-2 { color: #B1B1B1; }
.cm-s-nqqwal span.cm-number { color: #E8E8E8; }
.cm-s-nqqwal span.cm-tag { color: #C8C8C8; }
.cm-s-nqqwal span.cm-property { color: #F4F4F4; }
.cm-s-nqqwal span.cm-attribute { color: #F4F4F4; }
.cm-s-nqqwal span.cm-qualifier { color: #D7D7D7; }
.cm-s-nqqwal span.cm-meta { color: #E8E8E8; }
.cm-s-nqqwal span.cm-header { color: #C8C8C8; }
.cm-s-nqqwal span.cm-operator { color: #C8C8C8; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(232,232,232,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #C8C8C8; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #090909); }
